body{
    background-color: hsl(233, 47%, 7%);
}
.title{
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
} 

section{
background-color:hsl(244, 38%, 16%);
}

.main{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
}

#ins{
    color: hsl(277, 64%, 61%);
}

.imagess{
   background-color:rgb(125, 71, 150);
}

.st{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 0.7rem;
}